<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
  <title>{{solar_system.name}} system</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  <style>
    a {
      color:#30f;
    }
    td {
      padding: 2px;
    }
    h1, h2, h3, h4, h5, h6{
      font-weight:bold;
      line-height:30px;
      margin-left: 10px;
    }
    img {
      margin-left: 10px;
    }
    b{
      padding: 0px;
    }
  </style>
</head>
<body>
<h1>{{ solar_system.name }}</h1>
<h4>Distance from Sol: {{solar_system.distance}} ly<br>
Security: {{solar_system.security}}<br>
Allegiance: {{solar_system.allegiance}}<br>
Faction: {{solar_system.faction}}<br>
{% if 'Y' in solar_system.permit.name %}
Requires {{solar_system.name}} permit
{% endif %}</h4>
{% if solar_system.image %}
<img src="{{MEDIA_URL}}{{solar_system.image}}" height=720px>
{% endif %}
<ul>
{% for star in star_list %}
    <li><h3>{{ star.name }}:</h3></li>
    <ul>
      <li>Orbital radius: {{ star.orbital_radius_in_au }} au</li>
      <li>Orbital period: {{ star.orbital_period_in_years }} years</li>
      <li style="background-color: {{star.star_color}}; color: {{star.text_color}}">Spectral Type: {{star.spectral_type}}</li>
      <li>Mass: {{star.solar_masses}} Ms</li>
      <li>Radius: {{star.solar_radii}} Rs</li>
      <li>Temperature: {{ star.temperature_in_kelvin }} K</li>
      <li>Luminosity: {{ star.solar_luminosities }} Ls</li>
      <li>Magnitude: {{star.visual_magnitude}} </li>
      {% if star.planet_set.all %}
      <li><b>Planets:</b></li>
      <ul> {% for planet in star.planet_set.all %}
        <li><a href="/solar_system/{{solar_system.id}}/{{star.id}}/{{planet.id}}/details"> <b>{{planet.name}} </b> </a> | <a href="/solar_system/{{solar_system.id}}/{{star.id}}/{{planet.id}}/edit">edit </a></li>
        <ul>
          <li>Orbital radius: {{planet.orbital_radius_in_au}} au</li>
          <li>Orbital period: {{planet.orbital_period_in_years}} years</li>
          <li>Mass: {{planet.earth_masses}} Me</li>
          <li>Radius: {{planet.earth_radii}} Re</li>
          <li>Temperature: {{planet.temperature_in_kelvin}} K</li>
          {% if planet.percentage_of_water %}
            <li>Percentage of Water: {{planet.percentage_of_water}}</li>
          {% endif %}

          <!-- Gas giants and molten planets cannot have any species -->
          {% if 'giant' in planet.planet_type.name %}
          {% elif 'Molten' in planet.planet_type.name %}
          {% elif 'Jupiter' in planet.planet_type.name %}
          {% elif 'Neptune' in planet.planet_type.name %}
          {% elif 'Gas' in planet.planet_type.name %}
          {% else %}
          <li>
            <b>Species:</b>

          <!-- If there are no species, do not add a list -->
          {% for species in planet.species.all %}
          {% if 'none' in species.name %}
          none
        </li>
          {% else %}

          <!-- List species -->
          <ul>
          <li>
            {{species.name}} - {{species.species_type}}
          </li>
          </ul>
          {%endif%}
          {% endfor %}
          {%endif%}

          <li>Planet Type: {{planet.planet_type}}</li>
          {% if planet.ring_type %}
          <li>Rings: {{planet.ring_type}}</li>
          {% endif %}
          <!-- Display if a planet is colonized -->
            {% for species in planet.species.all %}
              {% if species.is_it_spacefaring %}
                <li><b>Colonized by {{species.name}}s</b></li>
                <li>Population: {{planet.population}}</li>
                <li>Economy: {{planet.economy}}</li>
                <li>Government: {{planet.faction.government_type}}</li>
                <li>Controlling faction: {{planet.faction.name}}</li>
                {% if planet.station_set.all %}
                <li><b>Stations:</b></li>
                <ul>
                {% for station in planet.station_set.all %}
                    <li><b>{{station.name}}</b></li>
                    <ul>
                      <li>Type: {{station.station_type}}</li>
                      <li>Population: {{station.population}}</li>
                      <li>Economy: {{station.economy}}</li>
                      <li>Government: {{station.faction.government_type}}</li>
                      <li>Controlling faction: {{station.faction.name}}</li>
                      <li><b>Services:</b></li>
                      <ul>
                      {% for service in station.services.all %}
                        <li>{{service.name}}</li>
                      {% endfor %}
                      </ul>
                    </ul>
                {% endfor %}
              </ul>
                {% endif%}

              {% endif %}
            {% endfor %}


        </ul><br>
        {% endfor %}
      </ul><br>
      {% endif %}
    </ul><hr>
{% endfor %}
</ul>
</body>
</html>
