<h2>{{spaceship.name}}</h2>
<h3>Manufacturer: {{spaceship.manufacturer}}</h3>
<h3>Cost: ${{spaceship.cost}}</h3>
<h3>Size: {{spaceship.size}}</h3>
<h3>Type: {{spaceship.ship_type}}</h3>
<h3>Agility: {{spaceship.agility}}</h3>
<h3>Speed: {{spaceship.speed}} m/s</h3>
<h3>Boost speed: {{spaceship.boost}} m/s</h3>
<h3>Jump range: {{spaceship.jump_range}} ly</h3>
<h3>Hardpoints: {{spaceship.hardpoints}}</h3>
<h3>Internal compartments: {{spaceship.compartments}}</h3>
<h3>Cargo space: {{spaceship.cargo_space}}t</h3>
<h3>Fuel space: {{spaceship.fuel_space}}t</h3>
