{% extends "pages/page.html" %}

{% block main %}
<!--
This template is provided as a custom template for the homepage, for
when it is configured as an editable page in the navigation tree. Feel
free to modify it.
-->
{{ block.super }}



<h4>{{page.hof.name}}, {{page.hof.distance}} ly away</h4><br>
{% for star in page.hof.solarsystem_set.all|dictsort:"distance" %}
  <li style="background-color: #{{star.allegiance.color}}">
    <a href="/solar_system/{{star.id}}/">{{star.name}}</a> - {{star.distance}} ly {% if 'Y' in star.permit.name %}- Requires {{star.name}} permit {% endif %}
  </li>
{% endfor%}

</ul>
{% endblock %}
